[Unit]
Description=Droid mount for /cache
Before=local-fs.target systemd-modules-load.service

[Mount]
What=/dev/mmcblk0p36
Where=/cache
Type=ext4
Options=rw

# Default is 90 which makes mount period too long in case of
# errors so drop it down a notch.
TimeoutSec=10

[Install]
WantedBy=local-fs.target

