[Unit]
Description=wlan module load
Wants=local-fs.target
After=local-fs.target droid-hal-init.service
Before=connman.service
Conflicts=shutdown.target actdead.target

[Service]
Type=oneshot
ExecStart=/sbin/modprobe wlan

[Install]
WantedBy=network.target
